h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(0deg, #6eb1b6 0%, #143e52 50%, #072b34 100%);
}
.master > h1:first-child {
  text-align: center;
  color: rgba(103, 187, 202, 0.7);
  width: auto;
}
.master {
  border: 1px solid rgb(73, 221, 226);
  box-shadow: 0 0 5px 5px rgba(103, 187, 202, 0.7);
  max-width: 400px;
  margin: 20px;
}

.timeCount,
#break-label,
#session-label {
  background: rgba(200, 245, 245, 0.15);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

#break-label {
  color: rgba(103, 187, 202, 0.7);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 250px;
  font-size: 12px;
  text-align: center;
}
#session-label {
  text-align: center;
  color: rgba(103, 187, 202, 0.7);
  font-size: 12px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 250px;
}

.menue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
}
.timeCount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(41, 41, 39);
}

.timeCount p,
#break-length p,
#session-length p {
  background-color: rgba(103, 187, 202, 0.7);
  border-radius: 10%;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  height: 40px;
  margin: 10px;

  /* Add a shadow */
  box-shadow: 0 2px 4px rgba(115, 213, 238, 0.2);
}
button {
  background-color: rgba(103, 187, 202, 0.7);
  color: #fff;

  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ccc;
  /* Add a shadow */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #444;
}
.add {
  color: rgb(7, 250, 100);
}

.remove {
  color: rgb(250, 8, 8);
}
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.bt2 {
  margin: 10px;
}

#timer-label > h1 {
  width: auto;
  text-align: center;
  color: rgba(103, 187, 202, 0.7);
}

@media only screen and (min-width: 960px) {
  .master {
    flex-direction: row;
  }
  .timeCount p,
  #break-length p,
  #session-length p {
    width: 90px;
    height: 120px;
    font-size: 60px;
  }
}
